*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.cont1{
    width: 80%;
    max-width: 1181px;
    margin: 0 auto;
    height: 100%;
}

.clearfix{
    clear: both;    
}

.btn{
    background-color: #0362fa;
    padding: 9px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn:hover{
    background-color: #2a79f8;
}
.btn.white:hover{
    box-shadow: 2px 5px 5px #5d5d5d;
}
.underline.blue{
    color: #0764fa;
    text-decoration: underline;
}

.linea{
    border-bottom: solid 1px;
    width: 100%;
    margin: 20px 0px;
}
.linea.piccola{
    color: grey;
    width: 15%;
    margin-left: 14px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
}

header .row{
    line-height: 80px;   
}

header nav ul li{
    display: inline-block;
    padding: 0px 21px;
    line-height: 79px;
}
header nav ul li a {
    text-decoration: none;
    padding: 0px 10px;
    color: #000;
    display: inline-block;
}
header nav .menu.sinistra{
    float: left;
}

header nav .menu.destra{
    float:right;
}

header .logodrop{
    height: 72px;
    vertical-align: middle;
}

header a.sottolineatura:hover{
    border-bottom: solid 1px #000;
}
.btn.inizia{
    display: inline;
}

#jumbotron{
    background-color: #bbd4e9;
    height: 728px;
}
.bigcont{
    margin: 0 auto;
    width: 95%;
    max-width: 1480px;
}

#jumbotron h1{
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 5.1em;
}
#jumbotron p{
    margin-bottom: 20px;
    width: 77%;
}

#jumbotron  p.ubtn{
    padding-top: 10px;
}

#jumbotron a{
    text-decoration: none;
}

#jumbotron a .fas{
    color: #000;
    font-size: 40px;  
    padding-top: 30px; 
}

#jumbotron .jtext{
    width: 35%;
    float: left;
    display: inline-block;
}
#jumbotron .img-jumbotron{
    width: 65%;
    float: left;
    display: inline-block;
    
}
.img-jumbotron img{
    width: 100%;
}
#business{
    margin-top: 300px;
}
.btitle h2{
    font-size: 2.8em;
}
.btitle p{
    display: inline-block;
    margin: 50px 0px 50px 50px;
}  
#business .colonna{
    float: left;
    width: 30%;
    border: solid 1px rgb(119, 119, 119);
    
}
.ctext{
    padding: 15px 10px;
}
.colonna.centrale{
    margin: 0px 5%;
}
#business .ctitle{
    text-align: center;
    border-bottom: solid 1px rgb(114, 114, 114);
}
#business .ctitle p{
    padding: 10px 0px;
}
#business .ctext h3{
    font-size: 1.7em;
}
.nomepiani{
    padding: 30px 15px;
}
.nomepiani .costo{
    padding: 10px 0px;
}
#business ul li {
    list-style: none;
    padding: 15px 0px;
    
}
#business .btn.business{
    padding: 8px 62px;
    margin: 40px 10px;
}

#business .prova-gratuita span, .piano h4{
    margin-left: 10px;
}
.fas.facheck{
    color: #0464ff;
}

.piano{
    margin-bottom: 100px;
}
.colonna.bassa .piano{
    margin-bottom:151.72px;
}
.soz{
    width: 100%;
    margin-top: 20px;
    border: solid 1px rgb(117, 116, 116);
}

.contenuto-orizzontale{
    margin-top: 30px;
}

.text-cnt-orizzontale{
    float: left;
    margin-left: 30px;
}
.bottone{
    float: right;
    margin-right: 30px;
}
.btn.big{
    padding: 8px 60px;
}

.text-cnt-orizzontale h3{
    font-size: 1.7em;
}
.text-cnt-orizzontale h4{
    margin: 15px 0px;
}
.text-cnt-orizzontale p{
    margin-bottom: 30px;
}
.partner{
    margin-top: 100px;
}

.partner .foto{
    width: 55%;
    float: left;
}
.foto img{
    width: 100%;
}

.partner .text-partner{
    width: 40%;
    float: right;
}

.partner .text-partner h3{
    font-size: 1.8em;
    margin: 30px 0px;
}

.partner .text-partner p{
    font-size: 1.1em;
    margin: 25px 0px;
}

.partner .text-partner .btn.white{
    background-color: #fff;
    color: #000;
    border: solid 1.5px #000;
}
.strumenti .underline{
    text-decoration: underline;
}
.strumenti{
    margin-top: 50px;
}

.riga .card{
    width: 33%;
    height: 100%;
    display: inline-block;
    padding: 50px 20px;

}
 .strumenti .riga.titolo{
     padding: 0px 20px;
     font-size: 1.8em;
 }
.riga .card img{
    width: 100%;
}

.riga .card h3{
    margin: 20px 0px;
    font-size: 1.7em;
}
.riga .card p{
    font-size: 1.1em;
}
.titolo-member{
    margin-top: 50px;
    margin-bottom:50px;
}
.titolo-member h2{
    font-size: 2.5em;
    width: 50%;
    margin-bottom: 35px;
}

.titolo-member a{
    margin-bottom: 35px;
}
.titolo-member a{
    color: #176efa;
}
#member .col-sx{
    float: left;
    height: 30vw;
    width: 30vw;
    background-color: rgb(138, 43, 226);
}

#member .col-dx{
    float: right;
    height: 30vw;
    width: 30vw;
    background-color: rgb(134, 42, 221);
}

#member .col-center{
    float: left;
    height: 30vw;
    width: calc(100% - 60vw);
}

#member .col-sx .item{
    float: left;
    height:15vw;
    width: 50%;
    text-align: center;
    line-height: 15vw;
    background-color: rgb(251, 6, 6);
    border: solid 5px rgb(2, 2, 246);
}

#member .col-dx .item{
    float: left;
    height:15vw;
    width: 50%;
    text-align: center;
    line-height: 15vw;
    border: solid 5px;
    
}

#member .text-col-center img{
    width: 30%;
}
#member .col-center .text-sponsor p{
    width: 90%;
    margin: 50px 0px;
}

#member .text-col-center{
    padding: 50px;
}
#member .item svg{
   object-fit: cover;
   width: 75%;
}
#member .item svg path{
    fill:#fff

}
#member .item.verde{
    background-color: #a0d399;
    border-color: #cbe2c8;
}
#member .item.grenada{
    background-color: #61082c;
    border-color: #61082c;
}
#member .item.cyan{
    background-color: #048cc2;
    border-color: #048cc2;
}
#member .item.red{
    background-color: #fb1a1a;
    border-color: #fb1a1a;
}
#member .item.darkred{
    background-color:#d30725;
    border-color: #d30725;
}
#member .item.lightblue{
    background-color: #b6cde0;
    border-color: #b6cde0;
}
#member .item.blue{
    background-color: #0e2580;
    border-color: #0e2580;
}
#member .item.yellow{
    background-color: #ffd830;
    border-color: #ffd830;
}
.cta{
    background-color: #b7cfe2; 
    height: 350px; 
}

.cta .text-cta{
    width: 70%;
    float: left;
    font-size: 2em;
    color:#61082c;
}

.cta .text-cta h2{
    width: 70%;
}

.cta .btn-cta{
    width: 30%;
    float: right;
    margin-top: 10px;
}

.cta .btn.cta.white{
    display: inline;
    background-color: #fff;
    color: #000;
    padding: 8px 50px;
    width: 100%;
}
.banner.container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq{
    margin-top: 50px;
}

.faq .question{
    width: 90%;
    float: left;
}

.faq .freccia{
    width: 10%;
    float: right;
    text-align: right;
}
footer{
    margin-top: 70px;
    background-color: #000;
}

footer .cfooter{
    width: 20%;
    float: left;
    color: #fff;
    margin-top: 50px;
}
.cfooter h3{
    margin-bottom: 15px;
    font-size: 1.4em;
}
.cfooter li{
    list-style: none;
    padding: 10px 0px;
}

.cfooter li a{
    text-decoration: none;
    color: #fff;
}

.footer-row p{
    color: #585858;
    padding: 30px 0px;
}
footer .fas.fa-sort-up{
    vertical-align: sub;
}
.linea.footer{
    margin-top: 75px;
    width: 10%;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}